body {
  background: linear-gradient(to right, rgb(187, 101, 115),purple);
  text-align: center;
  min-height: 100vh;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }

.page {
  display: none;
  padding-top: 60px;
}

.page.active {
  display: block;
}

.menu {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 14px 26px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  background: blanchedalmond;
  color: black;
}

button:hover {
  background-color: aquamarine;
}

.time {
  font-size: 3rem;
  margin: 30px 0;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.egg-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

.back {
  margin-top: 30px;
  background-color: darkturquoise ;
}
